## Задача 1

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе.

In [121]:
def count_all_fruits(data):
    return sum(list(data.values()))

In [122]:
fruits = {'apples': 50, 
          'bananas': 25, 
          'cherries': 100, 
          'grapes': 100}
count_all_fruits(fruits)

275

## Задача 2

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты. Используйте list comprehensions.
[100, 125, -90, 345, 655, -1, 0, 200]

In [123]:
ads_price = [100, 125, -90, 345, 655, -1, 0, 200]

In [124]:
# def sum_ads(prices: list) -> int:
#     for i in prices:
#         if i < 0:
#             prices.remove(i)
#     return sum(ads_price)

new_price = [i if i >= 0 else 0 for i in ads_price]
new_price

[100, 125, 0, 345, 655, 0, 0, 200]

In [125]:
sum(new_price)

1425

## Задача 3

Даны два списка.
Дата покупки:

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам:

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 3.1

Найдите, какая выручка у компании в ноябре. Используйте list comprehensions.

In [126]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29',
         '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02',
         '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
         '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
costs = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 
         2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [127]:
# def nov_income(dates: list, costs: list) -> int:
#     new_costs = []
#     for i in range(len(dates)):
#         if dates[i].split("-")[1] == '11':
#             new_costs.append(costs[i])
#     return sum(new_costs)

# nov_income(dates, costs)

In [128]:
nov_income = [i if dates[costs.index(i)].split("-")[1] == '11' else 0 for i in costs]
sum(nov_costs)

25098

### 3.2

Найдите выручку компании в зависимости от месяца. Для этого напишите функцию, которая на вход принимает список с датами и список
с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка. Используйте аннотирование типов.

In [129]:
def monthly_income(dates: list, costs: list) -> dict:
    income = {}
    for i in dates:
        month = i.split("-")[1]
        if month not in income:
            month_income = [costs[j] if dates[j].split("-")[1] == month else 0 for j in range(len(costs))]
            income.setdefault(month, sum(month_income))
    return income

In [130]:
monthly_income(dates, costs)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}